:root{
--header-blue: #2c3e50;
--profile-green: #1abc9c;
--footer-color: #3a546d;
--copyright: #2c3e50;
}

header{
background-color: var(--header-blue);
color: white;
}

header{
height: 90px;
}
ul li{
list-style: none;
}
#start,
#about{
background-color: var(--profile-green);
color: white;
}

footer{
background-color: var(--footer-color);
color: white;
}

#copyright{
background-color: var(--copyright);
}